body {
    padding-top:1%;
    margin: 0%;
    background-color: #0D1117;
    color: aliceblue;
}

.align {
    padding-left: 35px;
    font-weight: bolder;
}

.icon {
    padding-left: 50px;
}

.Visual {
    padding-left: 12px;
}

a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color : rgb(155, 163, 180);
    /* Keeps the text color of the surrounding element */
    transition: color 0.3s ease;
    /* Smooth color transition */
}

a:hover {
    color: #c3d0e5;
    /* Changes the text color on hover (you can choose any color you prefer) */
    /* Adds an underline on hover */
}

.spanfirst {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.midco{
    font-size: medium;
    display: flex;
    padding-top: 3%;
    align-items: center;
    justify-content: center;
}
.btn{
    margin-left: 10px;
    background-color: #0a79ce;
    font-weight: 500px;
    padding: 5px 10px;
    color:#fff;
    border-radius: 5px;
}
.btn:hover{
    text-shadow: 0 0 5px rgb(74, 208, 248), 0 0 10px rgb(50, 188, 243);
}
.text{
    color: rgb(195, 208, 229);
    font-size: 4.5rem;
    font-weight: bolder;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 3%;
    align-items: center;
    justify-content: center;
    line-height: 86px;
}
#secondtext{
    padding-top: 1%;
}
.btnd{
    padding: 12px 20px;
    font-weight: bolder;
    background-color: #0a79ce;
    justify-content: center;
    text-align: center;
    font-size: large;
    border-radius: 7px;
    color: white;
}
.btnd:hover{
    text-shadow: 0 0 5px rgb(74, 208, 248), 0 0 10px rgb(50, 188, 243);
}
.btnc{
    font-size: large;
    font-weight: bolder;
    margin-left: 1rem;
    padding: 12px 20px;
    background-color: #2c2c2c;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    color: white;
}
.btnc:hover{
    text-shadow: 0 0 5px rgb(74, 208, 248), 0 0 10px rgb(50, 188, 243);
}
.Downloadbtn{
    /* font-size: medium; */
    display: flex;
    padding-top: 1.5%;
    align-items: center;
    justify-content: center;
}
.videodemo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.videodemo {
    position: relative;
    width: 1240px;
    height: 831px;
  }
  
  .videodemo img {
    width: 85%;
    justify-content: center;
    margin-top: 3%;
    height: 90%;
    display: block;
    border-radius: 24px;
  }
  
  .videodemo video {
    position: absolute;
    border-radius: 1.5%;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .searchbtn{
    color: rgb(155, 163, 180);
    background-color:#2c2c2c;
    padding: 5px 10px;
    border-style: none;
  }
